{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/Untitled.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/Untitled1.css' %}" type="text/css">
</head>

<body class="">
  <nav class="navbar navbar-expand-xl bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'blog:index' %}">BLOG</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:font' %}" target="">前端</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:back' %}">后端</a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">移动</a>#}
{#          </li>#}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:tools' %}">工具</a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2 form-control-sm" type="text" placeholder="百度一下,不行两下">
          <button class="btn btn-sm btn-warning" type="submit" data-toggle="">搜索</button>
        </form>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <nav class="navbar navbar-expand-md navbar-dark bg-dark"><span class="navbar-text w-100 ml-auto text-center">©copyright 2018 by lzn202</span>
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent"> </div>
    </div>
    <div class="container"></div>
    <div class="container">
      <a class="navbar-brand mx-auto" href="https://www.baidu.com"><i class="fa d-inline fa-weixin"></i>WeChat</a>
      <a class="navbar-brand mx-auto" href="https://github.com"><i class="fa d-inline fa-github"></i>GitHub</a>
      <a class="navbar-brand mx-auto" href="https://www.google.com" target=""><i class="fa fa-google d-inline"></i>Google</a>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>